<ul class="breadcrumb">
	<li><a href="#">Pages</a></li>
	<li><a href="#" class="active">Order</a></li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">List Order
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-condensed dataTable no-footer" id="datatable" role="grid">
      <thead>
          <tr>
              <th>ID</th>
              <th>Tanggal</th>
              <th>Nama</th>
              <th></th>
          </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
    <br>
    <a onclick="loadMenu('tambahforder')" style="cursor: pointer" class="btn btn-info btn-sm"><i class=" pg-plus_circle"></i> Tambah Product</a>
  </div>
</div>
<script>
	jQuery.getScript("views/order/list.js");
</script>
